<div><strong>Title:</strong><%= @pattern.title %></div>
<div><strong>Author:</strong><%= @pattern.author %></div>
<div><strong>Published_date:</strong><%= @pattern.published_date %></div>
<div><strong>Category:</strong><%= @pattern.category %></div>
<div><strong>Difficulty:</strong><%= @pattern.difficulty %></div>
<div><strong>Name:</strong><%= @pattern.name %></div>
<div><strong>Website:</strong><%= @pattern.website %></div>